{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "rules": {
        "strict": ["error", "never"],
        "valid-typeof": "error",
        "no-unsafe-negation": "error",
        "no-unused-vars": "error",
        "no-unexpected-multiline": "error",
        "no-undef": "warn"
      },
      "extends": ["eslint:recommended"],
      "env": {
        "browser": true
      }
}